.homepage {
  margin: 2.5rem 0;
}

.homeContainer {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.info {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.alert {
  margin-top: 2rem;
  padding: 0.75rem 1.25rem;

  font-size: 0.875rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 0.25rem;
}
